language: php
php:
  - 5.5
  - 5.4
  - 5.3

branches:
  only:
    - 7.x-6.x

env:
  - SUITE=quiz
  - SUITE=question
  - SUITE=upgrade4x
  - SUITE=upgrade5x

matrix:
  fast_finish: true
  allow_failures:
    - env: SUITE=upgrade4x

mysql:
  database: drupal
  username: root
  encoding: utf8

cache:
  - apt: true
  - directories:
    - $HOME/.composer/cache
    - $HOME/cache
    - $HOME/.drush/cache

install:
  # ---------------------
  # Install Drush
  # ---------------------
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer global require drush/drush:dev-master

  # ---------------------
  # Setup DB
  # ---------------------
  - mysql -e 'SET GLOBAL wait_timeout = 5400;'
  - mysql -e 'create database drupal;'

before_script:
  # ---------------------
  # Variables
  # ---------------------
  - cd ..
  - export VENDOR=`pwd`
  - cd ..
  - export DRUPAL=`pwd`'/drupal-7.34/'
  - export CACHE="$HOME/cache"

  # ---------------------
  # Download & prepare dirs
  # ---------------------
  - sh -c "if [ ! -d "$CACHE" ];                  then mkdir $CACHE;  fi"
  - sh -c "if [ ! -f "$CACHE/vhost.conf" ];       then wget https://cdn.rawgit.com/backdrop/backdrop/fe6e16b6114995eed008596aa7c733bc907a8fca/core/misc/travis-ci/vhost.conf -O $CACHE/vhost.conf; fi"
  - sh -c "if [ ! -f "$CACHE/drupal.tar.gz" ];    then wget https://github.com/drupal/drupal/archive/7.34.tar.gz -O $CACHE/drupal.tar.gz; fi"
  - sh -c "if [ ! -f "$CACHE/2189345-39.patch" ]; then wget https://www.drupal.org/files/issues/2189345-39.patch -O $CACHE/2189345-39.patch; fi"
  - sh -c "if [ ! -d "$DRUPAL" ];                 then mkdir $DRUPAL;  fi"
  
  # ---------------------
  # Install apache server
  # ---------------------
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  - sudo cp -f $CACHE/vhost.conf /etc/apache2/sites-available/default

  # ---------------------
  # Get the codebase
  # ---------------------
  - tar zxf $CACHE/drupal.tar.gz -C $DRUPAL --strip-components=1
  - cd $DRUPAL
  - patch -p1 < $CACHE/2189345-39.patch
  - drush si testing --db-url=mysql://root:@localhost/drupal --yes
  - mv $VENDOR/* sites/all/modules/

  # ---------------------
  # Change doc-root
  # ---------------------
  - sudo sed -i -e "s,/var/www,$DRUPAL,g" /etc/apache2/sites-available/default
  - sudo service apache2 restart

  # ---------------------
  # Prepare env for the module
  # ---------------------
  - drush vset --yes file_temporary_path /tmp
  - drush en -y simpletest long_answer matching multichoice quiz_ddlines quiz_directions quiz_page quizz_question quizz_scale short_answer truefalse question_pool quizz_cloze
  - drush vset --yes simpletest_verbose FALSE

  # ---------------------
  # No cache data!
  # ---------------------
  - drush cc all

script:
  - sh -c "
      if [ '$SUITE' = 'quiz' ];        then drush test-run --dirty --field-labels=0 'Quiz' --uri=http://localhost:80;
      elif [ '$SUITE' = 'question' ];  then drush test-run --dirty --field-labels=0 'Quiz question' --uri=http://localhost:80;
      elif [ '$SUITE' = 'upgrade4x' ]; then php $DRUPAL/scripts/run-tests.sh --php `which php` --url 'http://localhost' --color --verbose --class 'QuizUpgradeFrom7x4xTestCase';
      elif [ '$SUITE' = 'upgrade5x' ]; then php $DRUPAL/scripts/run-tests.sh --php `which php` --url 'http://localhost' --color --verbose --class 'QuizUpgradeFrom7x5xTestCase';
      fi"

notifications:
  email: false
  hipchat: 76d833fa0b6bae8860f279a0e7dba0@me.Andy
  flowdock: 8e80a6538fa73fda0f7dd60bf2d44356
